
body {
    background-image: url('../assets/images/moon_bg.jpg');
    color: #fff;
    margin: 0;
    background-repeat: no-repeat;
    background-size: cover;
}
.container {
    max-width: 400px;
    margin: 0 auto;
    text-align: center;
}
.logo {
    max-width: 100%;
    height: auto;
    margin: 0;
    /* color: whitesmoke; */
}
.btn {
    margin: 10px;
}
.multicolortext {
    background-image: linear-gradient(to left, black, chocolate, orange, rgb(255, 6, 222),brown, yellow, indigo, blue);
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    font-size: 50px;
    display: inline-block;
}
.social-links{
    color: #fff;
    position: fixed;
    left:20px;
    bottom: 5px;
    text-align: center;
    overflow: hidden;
}
.social-links .fab{
    height: 40px;
    width: 40px;
    font-size: 30px;
    line-height: 40px;
    border: black;
    border-radius: 50%;
    margin: 40px 5px 0;
    color: #009688;
}
.social-links .fab:hover{
    background: #009688;
    color: #fff;
    transform: translateY(-7px);
}

.social-links h4{
    position:absolute;
    left: 100px;
}
.logo img
{
    max-width: 500px;
    background-position: center;
    background-size: cover;
    background-repeat: no-repeat;
    position: relative;
    border-radius: 0 10px 10px 0;
}
@media only screen and (max-width: 768px){
    .social-links
    {
        display: none;
    }   
}
